<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Share2Care</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta charset="utf-8" />
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link
	href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css"
	rel="stylesheet" />
<link rel="stylesheet" type="text/css" media="screen"
	href="http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript"
	src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js">
	
</script>
<script type="text/javascript"
	src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.pt-BR.js">
	
</script>
<style>
/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
	margin-bottom: 0;
	border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
	height: 450px
}

/* Set gray background color and 100% height */
.sidenav {
	padding-top: 20px;
	background-color: #f1f1f1;
	height: 100%;
}

/* Set black background color, white text and some padding */
footer {
	background-color: #555;
	color: white;
	padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
	.sidenav {
		height: auto;
		padding: 15px;
	}
	.row.content {
		height: auto;
	}
}
</style>
</head>
<body>
	<div th:fragment="fragment-body">

		<nav class="navbar navbar-inverse" th:fragment="header">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target="#myNavbar">
						<span class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" th:href="@{/event}">Share2Care</a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li
							th:classappend="${#strings.startsWith(#httpServletRequest.getRequestURI(), '/event') ? 'active':''}"><a
							href="member_page.html" th:href="@{/event}">Home</a></li>
						<li
							th:classappend="${#strings.startsWith(#httpServletRequest.getRequestURI(), '/user') ? 'active':''}"><a
							href="member_page.html" th:href="@{/user/dashboard}">Friends</a></li>
					</ul>
					<form class="navbar-form navbar-left" th:action="@{/event/search}" method="post">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Search" name="search-input" />
						</div>
						<input type="submit" class="btn btn-default" value="search" />
					</form>
					<ul class="nav navbar-nav navbar-right">
						<li th:unless="${session.userLoggedIn}">
							<a href="/signin" th:href="@{/login}">Sign in</a>
						</li>
						<li th:if="${session.userLoggedIn}">
							<a href="/user/logout" th:href="@{/user/logout}">Logout</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="container-fluid " th:fragment="content">
			<div class="row content">
				<div class="col-sm-2 sidenav" th:fragment="leftsidenav">
					<h3>EVENTS</h3>
					<ul class="nav nav-pills nav-stacked">
						<li
							th:classappend="${#httpServletRequest.getRequestURI() == '/event/myEvents' ? 'active':''}"><a
							href="member_page.html" th:href="@{/event/myEvents}">My
								Events</a></li>
						<li
							th:classappend="${#httpServletRequest.getRequestURI() == '/event' ? 'active':''}"><a
							href="member_page.html" th:href="@{/event}">Upcoming</a></li>
						<li
							th:classappend="${#httpServletRequest.getRequestURI() == '/event/past' ? 'active':''}"><a
							href="member_page.html" th:href="@{/event/past}">Past</a></li>
						<li
							th:classappend="${#httpServletRequest.getRequestURI() == '/event/discover' ? 'active':''}"><a
							href="member_page.html" th:href="@{/event/discover}">Discover</a></li>
						<li
							th:classappend="${#httpServletRequest.getRequestURI() == '/event/create' ? 'active':''}"><a
							href="member_page.html" th:href="@{/event/create}">Create</a></li>
					</ul>
				</div>
				<div class="col-sm-8 text-left" th:fragment="middle-section">
					<div th:replace="${view} :: content"></div>
				</div>
				<div class="col-sm-2 sidenav text-center" th:fragment="rightsidenav">
					<h3>FRIENDS</h3>
					<div class="well">
						<p>ADS</p>
					</div>
					<div class="well">
						<p>ADS</p>
					</div>
				</div>
			</div>
		</div>

		<footer th:fragment="footer" class="container-fluid text-center">
			&copy; 2016 Share2Care Online Event Organizer </footer>
	</div>
	<!-- th:fragment="body" -->
</body>
</html>


