<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>User List</title>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, user-scalable=yes" />

<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.1/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />
<link href="../css/app.css" th:href="@{/css/app.css}" rel="stylesheet"
	media="screen" />
</head>
<body>
	<div class="container">
		<!--/*/ <th:block th:include="/users/admin/admin_dash :: header"></th:block> /*/-->
	</div>
	<div class="container">
		<div th:if="${not #lists.isEmpty(resources)}">
			<h2>resource List</h2>
			<table class="table table-striped">
				<tr>
					<th>Resource Id</th>
					<th>Resource Name</th>
					<th>Resource Description</th>
					<th>Resource Quantity</th>
					<th>Resource Status</th>
					<th>Resource Importance</th>

				</tr>
				<tr th:each="resource : ${resources}">
					<td th:text="${resource.id}"></td>
					<td th:text="${resource.name}"></td>
					<td th:text="${resource.description}"></td>
					<td th:text="${resource.quantity}"></td>
					<td th:text="${resource.status}"></td>
					<td th:text="${resource.importance}"></td>
				
					<td><a th:href="${'/resource/' + resource.id}"
						class="btn btn-primary">View</a></td>
					<td><a
						th:href="${'/resource/edit/' + resource.id}"
						class="btn btn-warning">Edit</a></td>
					<td><a
						th:href="${'/resource/delete/' + resource.id}"
						class="btn btn-danger">Delete</a></td>
				</tr>
			</table>
			<a href="/admin/dashboard" class="btn btn-primary">Go to Admin
				Dashboard</a>
		</div>
	</div>

</body>
</html>