<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Share2Care | Resource List</title>
<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
	<div class="container">
		<!--/*/ <th:block th:include="fragments/header_loggedin :: header"></th:block> /*/-->

		<div class="row">
			<div class="col-sm-8">
				<div class="container">

					<h2 class="center">
						All Resources of <span th:text="${event.name}" style="color: red"></span>
						You Have!
					</h2>
					<div>
						<div th:if="${not #lists.isEmpty(resources)}">
							<table class="table table-striped">
								<tr>
									<th>Resource Id</th>
									<th>Resource Name</th>
									<th>Resource Description</th>
									<th>Resource Quantity</th>
									<th>Resource Status</th>
									<th>Resource Importance</th>
									<th>Resource Member</th>

								</tr>
								<tr th:each="resource : ${resources}">
									<td th:text="${resource.id}"></td>
									<td th:text="${resource.name}"></td>
									<td th:text="${resource.description}"></td>
									<td th:text="${resource.quantity}"></td>
									<td th:text="${resource.status}"></td>
									<td th:text="${resource.importance}"></td>
									<td
										th:text="${resource.member} ? ${resource.member.firstName} : ''"></td>
									<div th:switch="${organizer}">
										<p th:case="true">
										<td><a
											th:href="${'/resource/editResource/' + resource.id +'/' + event.id}"
											class="btn btn-warning">Edit</a></td>
										<td><a
											th:href="${'/resource/delete/' + resource.id +'/' + event.id}"
											class="btn btn-danger">Delete</a></td>
										</p>

										<p th:case="false">
										<td><a
											th:href="${'/resource/offerResource/' + resource.id+'/' + event.id}"
											class="btn btn-warning">Offer Resource</a></td>
										</p>


									</div>

								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>


			

		</div>


	</div>



</body>
</html>