<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="utf-8" />
<title>Share2Care | Circle | Join</title>
<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
	<div class="container">
		<!--/*/ <th:block th:include="fragments/header_loggedin :: header"></th:block> /*/-->

		<div class="row">
			<div class="col-sm-8">
				<div class="">

					<h2 class="text-center">Circle Details</h2>
					<div>
					<span th:text="${msg}" class="alert alert-info"></span>
					<form class="form-horizontal" th:object="${circle}"  th:action="@{'/circle/join/'+${circle.circleId}}" method="post">
							<input type="hidden" th:field="${circle.circleId}" />
							<div class="form-group">
								<label class="col-sm-2 control-label">Circle Id :</label>
								<div class="col-sm-6">
									<p class="form-control-static" th:text="${circle.circleId}">Circle
										Id</p>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label">Owner Name:</label>
								<div class="col-sm-6">
									<p class="form-control-static"
										th:text="${circle.owner.firstName}">Owner Firstname</p>
									<p class="form-control-static"
										th:text="${circle.owner.lastName}">Owner lastname</p>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Circle Name :</label>
								<div class="col-sm-6">
									<p class="form-control-static" th:text="${circle.circleName}">Circle Name</p>
								</div>								
							</div>
							<div class="row">
								<button type="submit" class="btn btn-primary">Join Group</button>
							</div>
						</form>
					</div>

				</div>
			</div>
			<div class="col-sm-4">

				<!--/*/ <th:block th:include="fragments/rightsidebar :: rightsidebar"></th:block> /*/-->
			</div>
		</div>
	</div>



</body>
</html>