<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="content">
		<div>
			<form id="createNewEvent" th:action="@{/event/create}" method="post"
				th:object="${event}" class="form-horizontal"
				enctype="multipart/form-data">
				<h2 class="form-signin-heading">Create New Event</h2>
				<div class="alert alert-error" th:if="${#fields.hasErrors('*')}">
					<ul class="unstyled">
						<li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input
							is incorrect</li>
					</ul>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-3" for="visibility">Event
						visibility:</label> <select class="col-sm-2" id="visibility"
						th:field="*{visibility}">
						<option th:each="visibility : ${visibilities}"
							th:value="${visibility}" th:text="${visibility.eventVisibility}"></option>
					</select>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-3" for="category">Event
						category:</label> <select class="col-sm-2" id="category"
						th:field="*{category}">
						<option th:each="category : ${categories}" th:value="${category}"
							th:text="${category.eventCategory}"></option>
					</select>
				</div>

				<div
					th:class="${#fields.hasErrors('name')}? 'control-group error' : 'form-group' ">
					<label class="control-label col-sm-2" for="name">Name:</label>

					<div class="col-sm-4">
						<input type="text" th:field="*{name}" class="form-control"
							placeholder="event name" id="name" />
					</div>

				</div>
				<div
					th:class="${#fields.hasErrors('description')}? 'control-group error' : 'form-group' ">
					<label class="control-label col-sm-4" for="description">Description:</label>
					<div class="col-sm-4">
						<textarea th:field="*{description}" class="form-control" rows="3"
							id="description"></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-3" for="datetimepicker1">Event
						starting date/time:</label>
					<div id="datetimepicker1" class="input-append date col-sm-4">
						<input data-format="dd/MM/yyyy hh:mm:ss" type="text"
							th:field="*{startDateTime}"></input> <span class="add-on">
							<i data-time-icon="icon-time" data-date-icon="icon-calendar">
						</i>
						</span>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-3" for="datetimepicker2">Event
						ending date/time:</label>
					<div id="datetimepicker2" class="input-append date col-sm-4">
						<input data-format="dd/MM/yyyy hh:mm:ss" type="text"
							th:field="*{endDateTime}"></input> <span class="add-on"> <i
							data-time-icon="icon-time" data-date-icon="icon-calendar"> </i>
						</span>
					</div>
				</div>
				<script type="text/javascript">
					$(function() {
						$('.date').datetimepicker({
							language : 'en'
						});
					});
				</script>
				<div class="form-group">
					<label for="upload-event-picture">Upload Event Picture:</label> <input
						id="upload-event-picture" type="file" name="eventPicture" accept="*" th:field="*{eventPicture}"/>
					<br /> <span id="upload-pic-message"></span>

				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>

	<!-- JavaScript to handle image upload using Ajax call -->

</body>
</html>