<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>

<body>

	<div class="container">
		<!--/*/ <th:block th:include="fragments/header_loggedin :: header"></th:block> /*/-->

		<div class="row">
			<div class="col-sm-8">
			<span th:text="${msg}" class="alert alert-info"></span>
				<!-- Upload file form -->
				<form id="upload-file-form" th:action="@{/user/uploadFile}"
					method="post" enctype="multipart/form-data">
					<h2 class="text-center"><label for="upload-file-input">Upload Image</label></h2> <input
						id="upload-file-input" type="file" name="uploadfile" accept="*" />
					<br /> <span id="upload-file-message"></span>
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
			<div class="col-sm-4">

				<!--/*/ <th:block th:include="fragments/rightsidebar :: rightsidebar"></th:block> /*/-->
			</div>
		</div>

	</div>

</body>

</html>