<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="utf-8" />
<title>Share2Care | Profile</title>
<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
	<div class="container">
		<!--/*/ <th:block th:include="fragments/header_loggedin :: header"></th:block> /*/-->

		<div class="row">
			<div class="col-sm-8">
				<div class="">

					<h2 class="text-center">Member Profile</h2>
					<div>
						<form class="form-horizontal" th:object="${member}"
							th:action="@{/user/profile}" method="post"
							enctype="multipart/form-data">
							<!-- <input type="hidden" th:field="${memeberId}" /> -->
							<div class="form-group">
								<label class="col-sm-2 control-label">First Name :</label>
								<div class="col-sm-6">
									<input type="text" class="form-control"
										th:field="${member.firstName}" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Last Name :</label>
								<div class="col-sm-6">
									<input type="text" class="form-control"
										th:field="${member.lastName}" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Email:</label>
								<div class="col-sm-6">
									<input type="text" class="form-control"
										th:field="${member.email}" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Phone Number:</label>
								<div class="col-sm-6">
									<input type="text" class="form-control"
										th:field="${member.phoneNumber}" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Street:</label>
								<div class="col-sm-6">
									<input type="text" class="form-control"
										th:field="${member.address.street}" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">City:</label>
								<div class="col-sm-6">
									<input type="text" class="form-control"
										th:field="${member.address.city}" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Zip Code:</label>
								<div class="col-sm-6">
									<input type="text" class="form-control"
										th:field="${member.address.zip}" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">State:</label>
								<div class="col-sm-6">
									<input type="text" class="form-control"
										th:field="${member.address.state}" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Country:</label>
								<div class="col-sm-6">
									<input type="text" class="form-control"
										th:field="${member.address.country}" />
								</div>
							</div>
							<!-- <div class="form-group">
								<label class="col-sm-2 control-label">Upload Image:</label>
								<div class="col-sm-6">
									<input type="file" class="form-control"
										name="${member.profilePictures}" />
								</div>
							</div> -->
							<div class="row">
								<button type="submit" class="btn btn-default">Submit</button>
								<a href="/user/dashboard" class="btn btn-primary">Cancel</a>
							</div>
						</form>
					</div>

				</div>
			</div>
			<div class="col-sm-4">

				<!--/*/ <th:block th:include="fragments/rightsidebar :: rightsidebar"></th:block> /*/-->
			</div>
		</div>
	</div>



</body>
</html>