<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="utf-8" />
<title>Share2Care | New Circle</title>
<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
	<div class="container">
		<!--/*/ <th:block th:include="fragments/header_loggedin :: header"></th:block> /*/-->

		<div class="row">
			<div class="col-sm-8">
				<div class="container">

					<h2 class="center">Create New Circle</h2>
					<div>
						<form class="form-horizontal" th:object="${circle}"
							th:action="@{/circle/create}" method="post">
							<span th:text="${msg}"></span>
							<div class="col-sm-4 col-sm-offset-2 well">
								<div class="form-group">
									<label for="inputCircle" class="sr-only">Circle</label>
									<div class="col-sm-10">
										<input id="inputCircle" type="text" name="circleName"
											placeholder="Circle Name" class="form-control" />
									</div>
								</div>
								<button type="submit" class="btn btn-default" style="width: 40%">Submit</button>
								<a href="/user/dashboard" class="btn btn-primary"
									style="width: 40%">Cancel</a>
							</div>

						</form>
					</div>
				</div>
			</div>
			<div class="col-sm-4">

				<div class="panel-group" id="accordion" role="tablist"
					aria-multiselectable="true">
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingOne">
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#accordion"
									href="#collapseOne" aria-expanded="true"
									aria-controls="collapseOne"> Member Service </a>
							</h4>
						</div>
						<div id="collapseOne" class="panel-collapse collapse in"
							role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<a href="#" th:href="@{/user/profile}" class="list-group-item">View/Edit
									Profile</a> <a href="#" class="list-group-item">Upload Image</a>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingTwo">
							<h4 class="panel-title">
								<a class="collapsed" role="button" data-toggle="collapse"
									data-parent="#accordion" href="#collapseTwo"
									aria-expanded="false" aria-controls="collapseTwo"> Circle
									Management </a>
							</h4>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse"
							role="tabpanel" aria-labelledby="headingTwo">
							<div class="panel-body">
								<a href="#" th:href="@{/circle/create}" class="list-group-item">Create
									New Circle</a> <a href="#" th:href="@{/circle/view}"
									class="list-group-item">View Circle</a> <a href="#"
									th:href="@{/circle/update}" class="list-group-item">Update
									Circle</a> <a href="#" class="list-group-item">Join Circle</a>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingThree">
							<h4 class="panel-title">
								<a class="collapsed" role="button" data-toggle="collapse"
									data-parent="#accordion" href="#collapseThree"
									aria-expanded="false" aria-controls="collapseThree"> Make
									Friends </a>
							</h4>
						</div>
						<div id="collapseThree" class="panel-collapse collapse"
							role="tabpanel" aria-labelledby="headingThree">
							<div class="panel-body">
								<a href="#" th:href="@{/user/profile}" class="list-group-item">Discover
									Friends</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


	</div>



</body>
</html>