<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Volunteer Dashboard</title>
    <meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, user-scalable=yes" />

<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.1/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />
<link href="../css/app.css" th:href="@{/css/app.css}" rel="stylesheet"
	media="screen" />
</head>
<body>

<div class="container">
    <div th:fragment="header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" th:href="@{/}">Home</a>
                    <ul class="nav navbar-nav">
                    	<li><a href="#" th:href="@{/volunteer/projectlist}">List Projects </a></li>
                    	<li><a href="#" th:href="@{/volunteer/updateProject}">Offered Service </a></li>
                    	<li><form name="searchForm" method="post" id="searchForm"
							th:action="@{/volunteer/searchProject}">
							<input style="margin-top: 15px" type="text" name="searchText"
								placeholder="Search.." /> <input type="submit" value="search" />
						</form></li>
						<li><form th:action="@{/logout}" method="post" id="logoutForm"><input style="margin-top: 15px" type="submit" value="Logout"/></form></li>
                    </ul>
                </div>
            </div>
        </nav>
        </div>
    </div>
</body>
</html>